<% if user.fixed_post && (fixed_post = Micropost.find_by(id: user.fixed_post)) %>
  <div class="fixed-post">
    <div class="fixed-post-header">
      <span>๐ ๅบๅฎใในใ</span>
      <% if current_user == user %>
        | <%= link_to "ๅบๅฎ่งฃ้ค", unfixation_microposts_path, method: :get %>
      <% end %>
    </div>
    <ol class="microposts">
      <%= render fixed_post %>
    </ol>
  </div>
<% end %>
